
body {
  background-color: #fddde6;
}

.jumbotron {
    background-color: #fddde6;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.social-block {
    background-color: #fddde6;
    border: 0px;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
